<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2023</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid, amet animi atque autem beatae consequuntur corporis cum distinctio doloribus est eveniet fuga fugit impedit incidunt natus nostrum obcaecati odit officia omnis perspiciatis quasi quia recusandae rem repellendus reprehenderit vero? Eligendi harum magnam obcaecati sequi ut! Aperiam culpa cupiditate inventore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid, amet animi atque autem beatae consequuntur corporis cum distinctio doloribus est eveniet fuga fugit impedit incidunt natus nostrum obcaecati odit officia omnis perspiciatis quasi quia recusandae rem repellendus reprehenderit vero? Eligendi harum magnam obcaecati sequi ut! Aperiam culpa cupiditate inventore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid, amet animi atque autem beatae consequuntur corporis cum distinctio doloribus est eveniet fuga fugit impedit incidunt natus nostrum obcaecati odit officia omnis perspiciatis quasi quia recusandae rem repellendus reprehenderit vero? Eligendi harum magnam obcaecati sequi ut! Aperiam culpa cupiditate inventore.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid, amet animi atque autem beatae consequuntur corporis cum distinctio doloribus est eveniet fuga fugit impedit incidunt natus nostrum obcaecati odit officia omnis perspiciatis quasi quia recusandae rem repellendus reprehenderit vero? Eligendi harum magnam obcaecati sequi ut! Aperiam culpa cupiditate inventore.</p>
  </div>
</div>
